@import "bootstrap-icons/font/bootstrap-icons.css";


input[type="file"] {
    display: none;
}

.bannerImageUpload   {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.content-wrapper {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

/* #toast-container {
    z-index: 9999 !important;
} */

.fl-wrapper{
    z-index: 9999 !important;
}